# dependencies
node_modules/

# vite cache
.vite/

# build output
dist/

# env files (keep only example in git)
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db
